header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 2rem 7rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: transparent;
  font-size: 17px;
  .logo {
    img {
      width: 114.91px;
      height: 33.99px;
      object-fit: contain;
    }
  }
  nav a {
    margin: 0 2rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  .mobile-menu-icon {
    display: none;
  }

  .log {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    padding-right: 1rem;
  }
  .sign {
    border: 1px solid #212832;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    padding: 0.5rem;
  }

  @media screen and (max-width: 1020px) {
    .nav-links {
      display: none;
    }
    .mobile-menu-icon {
      display: block;
      z-index: 4;
      color: black;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 20px;
    }
    .nav-links-mobile {
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #df6951;
      width: 100%;
      height: 100%;
      transition: all 1s ease-in-out;
      color: white;
    }
  }
}
